.container {
    color:black;
}
.repos{
    background-image: url('https://free4kwallpapers.com/uploads/originals/2015/08/09/cool-black-backgrounds.jpg');
    background-size: cover;
    height: 100%;
}