img{
    border-radius:200px;
    height: 200px;
    width: 200px;
}
.user{
    background-image: url('https://img.freepik.com/free-vector/watercolor-background_87374-69.jpg?size=626&ext=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: visible;
    height: 1000px;
    color: rgb(40, 136, 173);
    padding-bottom: 45.5%;
}
.searchbox{
    color: rgb(40, 136, 173);
    font-family: sans-serif;
    margin: 10px;
}
.btn{
    border: 29px;
}
